{% extends 'IARMainBundle:Admin:layout.html.twig' %}

{% block main -%}
    <h1>Proveedor</h1>

    <table class="table">
        <tbody>
            <tr> <th>Id</th> <td>{{ entity.id }}</td> </tr>
            <tr> <th>Codigo CE</th> <td>{{ entity.codigoCe }}</td> </tr>
            <tr> <th>Nombre CE</th> <td>{{ entity.nombreCe }}</td> </tr>
            <tr> <th>Provincia</th> <td>{{ entity.provincia}}</td> </tr>
            <tr> <th>Localidad</th> <td>{{ entity.localidad}}</td> </tr>
            <tr> <th>Zona</th> <td>{{ entity.zona}}</td> </tr>
            <tr> <th>Email</th> <td>{{ entity.email }}</td> </tr>
            <tr> <th>Telefono</th> <td>{{ entity.telefono }}</td> </tr>
            <tr> <th>Nombre Responsable</th> <td>{{ entity.nombreResponsable }}</td> </tr>
            <tr> <th>Apellido Responsable</th> <td>{{ entity.apellidoResponsable }}</td> </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_proveedor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_proveedor_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
