{% extends '::layout.html.twig' %}

{% block main %}

<link rel="stylesheet" href="{{ asset('/bundles/iarcompras/css/solicitud.css') }}" />

<div class="row">
    <div id="step-1" class="step col-md-3 col-md-offset-1">
        <h2>Paso 1</h2>
        <div id="container brand">
            <h4>Marca</h4>
            <select class="form-control controller-action" id="solicitud-brand" name="iar_comprasbundle_solicitud[brand]">
                <option value="0"></option>
                {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="container model">
            <h4>Modelo</h4>
            <select class="form-control controller-action" id="solicitud-model" name="iar_comprasbundle_solicitud[model]">
                <option value="0"></option>
            </select>
        </div>

        <div id="container" id="selection-preview">
            <img class="preview" id="selection-preview" src="{{ asset('bundles/iarcompras/images/models/empty.png') }}" alt="" />
        </div>
    </div>
    <div id="step-2" class="step col-md-3">
        <h2>Paso 2</h2>
    </div>
    <div id="step-3" class="step col-md-3">
        <h2>Paso 3</h2>
    </div>
</div>

<script src="{{ asset('js/lib/require.js') }}" data-main="{{ asset('bundles/iarcompras/js/Routes/Solicitud/new.js') }}" type="text/javascript"></script>

{% endblock main %}
