{% extends 'IARMainBundle:Admin:layout.html.twig' %}

{% block main -%}
    <h1>Solicitud</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Detalles</th>
                <td>{{ entity.detalles }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.brand }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>Zonas</th>
                <td>
                    {{ entity.zonas|join('|') }}
                </td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.date|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ entity.time|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ultima Modificacion</th>
                <td>{{ entity.timestamp|date('d-m-Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_solicitud') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_solicitud_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
